@-webkit-keyframes dancing-dots-jump {
    0% {
        top: 65%;
    }
    55% {
        top: 66%;
    }
    60% {
        top: 67%;
    }
    80% {
        top: 65%;
    }
    100% {
        top: 65%;
    }
}

@-moz-keyframes dancing-dots-jump {
    0% {
        top: 65%;
    }
    55% {
        top: 66%;
    }
    60% {
        top: 67%;
    }
    80% {
        top: 65%;
    }
    100% {
        top: 65%;
    }
}

.ScrollDown {
    background-color: transparent;
    color: #21ce99;
    position: absolute;
    font-weight: 400;
    font-size: 2rem;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: dancing-dots-jump;
    -moz-animation-duration: 1800ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: dancing-dots-jump;
}

.ScrollDown::after {
    border-style: solid;
    border-width: 0.07em 0.07em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    vertical-align: top;
    width: 0.45em;
    top: 35px;
    transform: rotate(135deg);
    left: -50%;
}