.BitcoinWrapper {
    height: 600px;
    width: 100%;
    background: rgba(0, 60, 85, 1);
    background: -moz-linear-gradient(top, rgba(0, 60, 85, 1) 0%, rgba(0, 99, 121, 1) 39%, rgba(0, 131, 138, 1) 67%, rgba(49, 182, 136, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 60, 85, 1) 0%, rgba(0, 99, 121, 1) 39%, rgba(0, 131, 138, 1) 67%, rgba(49, 182, 136, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 60, 85, 1) 0%, rgba(0, 99, 121, 1) 39%, rgba(0, 131, 138, 1) 67%, rgba(49, 182, 136, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 60, 85, 1) 0%, rgba(0, 99, 121, 1) 39%, rgba(0, 131, 138, 1) 67%, rgba(49, 182, 136, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 60, 85, 1) 0%, rgba(0, 99, 121, 1) 39%, rgba(0, 131, 138, 1) 67%, rgba(49, 182, 136, 1) 100%);
    margin-top: 0;
}

.BitcoinTitleText {
    font-size: 6rem;
    color: white;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 0 2px 30px #21ce99;

}